<!DOCTYPE html
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Supplier Registration</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <img src="~/Content/Images/Alfahim.jpg" style="padding-left:30px"; />

    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/DataTables")
    @Scripts.Render("~/bundles/DataTables")

    <script>
        $(function () {
            $(".datepicker").datepicker(
                {
                    dateFormat: "mm/dd/yy",
                    showOn: "button",
                    changeMonth: true,
                    changeYear:true,
                    buttonImage: "/Content/Images/Calendar1.png",
                    buttonImageOnly: true,
                    buttonText: "Select Date"
                });
        });


    </script>



    @RenderSection("scripts", required: false)
   
</body>
</html>
